body {
    margin: 0;
    padding: 0;
    border: none;
}

.bg {
    background: url(../img/bg.png) top no-repeat;
    background-size: 100%;
    overflow: hidden;
    position: absolute;
    width: 400px;
    height: 100%;
    margin-top: 0;
    margin-left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
}

.lotterybg {
    background: url(../img/lotterybg.png) top no-repeat;
    background-size: 100%;
    overflow: visible;
    width: 80%;
    height: 100%;
    margin-top: 40%;
    margin-left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
}

#myCanvas {
    position: absolute;
    /*border: solid black 1px;*/
    border: none;
    width: 285px;
    height: 170px;
    margin-top: 15px;
    margin-left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
}

.lighting {
    display: block;
    max-width: 99%;
    margin-top: 0;
    margin-left: 0;
}

#start {
    position: absolute;
    z-index: 3;
    width: 202px;
    margin-top: 413px;
    margin-left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
}

.imgSrc {
    display: none;
    position: absolute;
}